<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        /* html {
        -webkit-print-color-adjust: exact;
        } */
    </style>
</head>
<body>
    
    <table style="width: 100%; padding: 0 30px; overflow: hidden;">
        <tr>
            <td style="color: #ff0000; font-weight: 800; padding-bottom: 20px; font-size: 10pt;">
                <div>Key Customer Disclosure</div>
                <div>Credit Life Assurance – Decreasing Assurance</div>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; overflow: hidden;">
                    <tbody style="vertical-align: top;">
                        <tr>
                            <td style="width: 50%; padding: 0 30px;">
                                <ul style="list-style: none; padding-left: 0; margin-left: 0;">
                                <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                    <span style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">1. What is a Decreasing Term Assurance (DTA)? </span>
                                    A DTA is an insurance cover provided by most insurance companies which will cover the outstanding balance on your loan account in the event of death or permanent disability. The cover limit of the DTA reduces as the loan debt reduces.
                                </li>
                                <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                    <span style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">2. Who is eligible for this coverage? </span>
                                    Customers who avail of a loan facility with the bank and where the DTA is required as part of the loan's terms and conditions.
                                </li>
                                <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                    <span style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">3. What is the scope of of a DTA Cover?</span>
                                    <ul style="list-style: none; padding-left: 0; margin-left: 0;">
                                        <li style="font-size: 6pt; line-height: 8.2pt;">
                                            (a) Death
                                        </li>
                                        <li style="font-size: 6pt; line-height: 8.2pt;">
                                            (b) Total and Permanent Disability (TPD)
                                        </li>
                                    </ul>
                                    <p style="font-size: 6pt; line-height: 8.2pt;">
                                        In the event of death or TPD, your family is protected from the burden of repaying your loan. The Insurance company shall settle the outstanding balance on the loan account less any arrears.
                                    </p>
                                </li>
                                <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                    <span style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">4. When does the coverage start?</span>
                                    Coverage under the DTA typically commences on the date the loan is disbursed.
                                </li>
                                <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                    <span style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">5. When does the coverage end?</span>
                                    <ul style="padding-left: 30px;">
                                        <li style="list-style-type: disc;">On expiry of the term of the policy</li>
                                        <li style="list-style-type: disc;">If a claim benefit is paid out for death or totaldisability</li>
                                        <li style="list-style-type: disc;">On early settlement or full prepayment of the loan facility</li>
                                        <li style="list-style-type: disc;">If the policy has lapsed due to non-payment of the premium</li>
                                    </ul>
                                    <div style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;"><span style="font-weight: 800;">Note:</span>The above list is NOT exhaustive and may vary according to your insurance policy.</div>
                                </li>
                                <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                    <span style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">6. Does the DTA cover have a surrender/maturity value?</span>
                                    There is no surrender value linked to a DTA. No lump sum is payable to the customer at the end of the coverage.
                                </li>
                                <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                    <span style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">7. What if I pre-pay the loan – do I get any refund?</span>
                                    Yes. Upon early settlement or full repayment of the loan, premiums (net of any charges) may be paid on a pro-rata basis by the insurance company, based on the unexpired term of the policy. Terms and conditions apply.
                                </li>
                                <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                    <span style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">8. Do I need to renew the policy? (where applicable)</span>
                                    Yes. Renewal of the policy on the due date is under your responsibility and will be deducted directly from your account.  Please ensure that sufficient funds are available on your account to cater for the premium payment.
                                </li>
                                <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                    <span style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">9. Are there any waiting/deferred periods to claim for benefits under polices?</span>
                                    <ul style="list-style: none; padding-left: 30px;">
                                        <li>(i) Death - No waiting/deferred period</li>
                                        <li>(ii) TPD - 6 months waiting period / deferred period</li>
                                    </ul>
                                </li>
                                <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                    <span style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">10. Is there a commission which is earned by the bank which is acting as an Insurance agent when providing this service on Insurances?</span>
                                    As an Insurance Agent, the Bank  is an intermediary for the Insurance company for which is it licensed and will earn a commission based on this relationship. The commission earned by the bank varies from products to products and is disclosed in the policy documents remitted to the customer upon issuance of the policy.
                                </li>
                            </ul>
                            </td>
                            <td style="width: 50%; padding: 0 30px;">
                                <ul style="list-style: none; padding-left: 0; margin-left: 0;">
                                    <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                        <span style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">11. What is the claim process?</span>
                                        In the event of death or TPD, the borrower or his legal representative should immediately advise the bank at the nearest branch.  The following documents should be submitted:

                                        <ul style="padding-left: 30px; list-style-type: disc;">
                                            <li>A claim form, duly completed and signed.</li>
                                            <li>Original customer’s Identification document, e.g., Passport, Driver’s Licence, National Identity Card</li>
                                            <li>Death: Original Death Certificate and/or Medical Certificate stating the cause and occurrence of death ( in event of Death)</li>
                                            <li>TPD: Original medical certificate (in the event of TPD)</li>
                                        </ul>
                                    </li>
                                    <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                        <span style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">12. What are general claims exclusions under this policy?</span>
                                        This will depend on the insurance policy, provided by your chosen insurance provider.  You are advised to refer terms and conditions of the prefered Insurance provider.
                                    </li>
                                    <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                        <span style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">13. What is your responsibility when applying for a DTA cover?</span>
                                        Your true and correct declaration is crucial when enrolling for any insurance. We believe in your good faith to provide us with all required information and to highlight any additional information that will impact on the assessment effected by your chosen Insurance Company. 
                                    </li>
                                    <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                        <span style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">14. Which Insurance Companies provide(s) DTA cover via Absa Bank (Mauritius) Ltd?</span>
                                        <ul style="list-style-type: disc; padding-left: 30px;">
                                            <li>National Insurance Company</li>
                                            <li>MUA Life (ex La Prudence Life Insurance)</li>
                                        </ul>
                                    </li>
                                    <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                        <span style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">15. Are there any fees which are charges in the premium paid for the DTA Insurance?</span>
                                        As an Insurance agent licensed by the FSC to act on behalf of MUA Life and NICL Ltd, the bank will earn a commission which is included in the gross premium paid by the customer. The premium is also inclusive of other charges namely the FSC fees and other taxes.
                                        <span style="font-weight: 800; display: block;">Note:</span>
                                        <ul style="padding-left: 30px; padding-bottom: 20px; list-style-type: disc;">
                                            <li>The premium for single payment is cheapest compared to monthly and annual installments. </li>
                                            <li>The commission earned is disclosed in the product documentation (signed application form) of the preferred Insurance company </li>
                                        </ul>
                                        <span style="font-weight: 800; display: block;">Note:</span>
                                        <ul style="padding-left: 30px; list-style-type: disc;">
                                            <li>1. Absa has an agency relationship with each of the above insurance companies. These companies are our main Decreasing Term Assurance providers. However, the customer has complete freedom of choice as regards the insurance company for his DTA and he can provide any DTA policy from any other reputed insurance company of his choice acceptable to the bank.</li>
                                            <li>2. Please note that the premiums from other insurance providers may be higher or lower than what is being offered via Absa Bank (Mauritius) Ltd.</li>
                                            <li>3. The list of insurance service providers may change, subject to future negotiation.</li>
                                            <li>4. The purchase of an Insurance policy is a separate product and specifically contemplated by the customer.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt; padding-bottom: 30px;">
                                <span style="font-weight: 800;">Disclaimer:</span>
                                The details in this document are only for information purposes. Such details may vary from time to time and you are required to independently check the accuracy of these details by contacting the insurance companies. Neither Absa, nor any officer or employee thereof, accepts any liability whatsoever for any direct or consequential losses arising from any use of the above information
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; padding: 0 30px;">
                                <div style="color: #ff0000; font-weight: 800; padding-bottom: 20px; font-size: 7.2pt; line-height: 8pt;">
                                    <div>Customer declaration</div>
                                    <div>To be completed by the customer at time of application</div>
                                </div>
                                <div style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">
                                    We have provided you with all the relevant information you need. Please read the statements below carefully before you give you consent. If you do not understand any point, please ask for further information from one of our customer advisers. You agree and declare as follows:
                                </div>
                                <ol>
                                    <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                        1. I/We have been informed about the key features and limitations of the DTA and understand that I/we can obtain the complete terms and conditions of the policy by requesting for a copy of the full policy wording to the customer advisors/Relationship Manager prior to making any decision.
                                    </li>
                                    <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                        2. I/we have been informed of the importance of disclosing material facts both before cover starts and as circumstances change in the future, for example, a change in health prior to the start or during the course of the cover commencing or a future change in your residential address. 
                                    </li>
                                    <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                        3. I/we have been informed that my/our true and correct declaration is crucial when enrolling for any insurance as any false declaration(s) can lead to cancellation of the policy and non-payment of any claims made by me/us
                                    </li>
                                    <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                        4. I/We have been informed that I/We have complete freedom of choice as regards the insurance company for my/our DTA and I/We can provide any DTA policy from any other reputed insurance company of my/our choice acceptable to the bank to secure our borrowing(s). 
                                    </li>
                                    <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                        5. I/We have been provided with quotes from all of the insurance companies stated in this document for consideration. I/We am/are aware that I/We are free to get quotes from and to choose any insurance product from any other insurance companies in the market.
                                    </li>
                                    <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                        6. I/We  confirm that I/We have received a copy of the Key Customer Disclosure  on Credit Life Assurance (Decreasing Term Assurance).
                                    </li>
                                    <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                        7. I hereby acknowledge that Absa Bank (Mauritius) Ltd is acting as an insurance agent for the above insurance company and I have no objection that a copy of my proof of address, or alternatively a copy of my bank statement, and identification documents held by the bank are sent to the insurance company for underwriting purposes.
                                    </li>
                                    <li style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt;">
                                        8. I/We confirm that I/We received the summary of terms and conditions of the chosen Insurance Company.
                                    </li>
                                </ol>
                            </td>
                            <td style="width: 50%; padding: 0 30px; max-width: 250px;">
                                <table style="width: 100%; border: 1pt solid #000; margin-bottom: 10px; overflow: hidden; margin-top: 30px;" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="font-weight: 800; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px; text-align: left; border-bottom: 1pt solid #000; padding: 40px 20px;">Premium Payable for DTA*</th>
                                            <th style="font-weight: 800; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px; text-align: left; border-bottom: 1pt solid #000; border-left: 1pt solid #000; border-right: 1pt solid #000; padding: 40px 20px;">National Insurance Company</th>
                                            <th style="font-weight: 800; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px; text-align: left; border-bottom: 1pt solid #000; padding: 40px 20px;">MUA Life</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="font-weight: 800; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px; text-align: left; padding: 40px 20px;">Single (in Rs)</td>
                                            <td style="font-weight: 800; font-size: 7.2pt; line-height: 8pt; border-left: 1pt solid #000; border-right: 1pt solid #000; margin-bottom: 5px; text-align: left; padding: 40px 20px;"></td>
                                            <td style="font-weight: 800; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px; text-align: left; padding: 40px 20px;"></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <p style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt; margin-bottom: 15px;">
                                    *Please note that these premiums are indicative and may be adjusted following the underwriting process of the insurance company. You hereby authorise the Bank to debit your account held with the Bank with the final amount of the premium, which may be subject to a variance of 10%.  Any greater increase in the premium will be communicated to you.
                                </p>
                                <p style="margin-bottom: 10px; font-size: 6pt; line-height: 8.2pt; margin-bottom: 25px;">
                                    Premium is also inclusive of fees and other charges (e.g: FSC fees) including commissions paid to Absa Bank (Mauritius) Ltd.
                                </p>
                                <span style="font-weight: 800; display: block; font-size: 7.2pt; line-height: 8pt; margin-bottom: 5px;">I/We am/are choosing to subscribe DTA cover from..................................................................................................................................................................... out of my/our own free will</span>
                                <table style="width: 100%; margin-top: 30px; overflow: hidden;">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: left; font-size: 7.2pt; line-height: 8pt; padding-bottom: 15px;">
                                                ...................................
                                            </td>
                                            <td style="text-align: left; font-size: 7.2pt; line-height: 8pt; padding-bottom: 15px;">
                                                ...................................
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 6pt;">
                                                <div style="padding-bottom: 10px;">Customer signature</div>
                                                <div style="padding-bottom: 10px;">Customer Name:...................................</div>
                                                <div style="padding-bottom: 10px;">Customer ID:...................................</div>
                                            </td>
                                            <td style="font-size: 6pt;">
                                                <div style="padding-bottom: 10px;">Customer signature</div>
                                                <div style="padding-bottom: 10px;">Customer Name:...................................</div>
                                                <div style="padding-bottom: 10px;">Customer ID:...................................</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>