<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta name=Generator content="Microsoft Word 15 (filtered)">
      <style>
         body{
            font-family: Arial, Helvetica, sans-serif;
        }
      </style>
  </head>
  <body style="margin: 0; padding: 0; box-sizing: border-box; font-size: 12px;">
    
    <table style="width: 100%;">
      <th>
        <h1 style="color: #2f77b0; font-size: 10pt;">
          Group Credit Life Cover <br />
          Terms, Conditions and General Provisions
        </h1>
      </th>
      <tr>
        <td>
          <table style="width: 100%; padding: 0 35px;">
            <tbody>
              <tr>
                <td style="width: 33.33%; vertical-align: top;">
                  <h2 style="color: #2f77b0; font-size: 8pt;">DEFINITIONS</h2>
                  <p style="font-size: 6pt;   line-height: 12px;">
                    The words or expressions detailed below shall, unless the
                    context otherwise requires, have the following meaning
                    wherever they appear in this document.
                  </p>
                  <ul style="list-style: none; margin-left: 0; padding-left: 0;">
                    <li style="font-size: 6pt;  line-height: 12px; margin-bottom: 10px;">
                        <span style="font-weight: 600;">a) </span><span style="color: #2f77b0; font-weight: 600;">ABSA Bank (Mauritius) Ltd</span>: The Non-
                        Exclusive Insurance Agent of the
                        National Insurance Co. Ltd (“NICL”),
                        licensed by the Financial Services
                        Commission to act on behalf of the
                        insurer in the initiation of the insurance
                        business and licensed by the Bank of
                        Mauritius to provide credit financing.
                    </li>
                    <li style="font-size: 6pt;  line-height: 12px; margin-bottom: 10px;">
                        <span style="font-weight: 600;">b) </span><span style="color: #2f77b0; font-weight: 600;">Company/Insurer</span>: The National
                        Insurance Co. Ltd (“NICL”)
                    </li>
                    <li style="font-size: 6pt;  line-height: 12px; margin-bottom: 10px;">
                        <span style="font-weight: 600;">c) </span><span style="color: #2f77b0; font-weight: 600;">Policyholder</span>: ABSA Bank (Mauritius)
                        Ltd, the provider of the loan credit facility.
                    </li>
                    <li style="font-size: 6pt;  line-height: 12px; margin-bottom: 10px;">
                      <span style="font-weight: 600;">d) </span><span style="color: #2f77b0; font-weight: 600;">Life Assured</span>: natural person eligible
                      for assurance cover under this scheme.
                    </li>
                    <li style="font-size: 6pt;  line-height: 12px; margin-bottom: 10px;">
                      <span style="font-weight: 600;">e) </span><span style="color: #2f77b0; font-weight: 600;">Group Credit Agreement</span>: the credit
                      life agreement with ABSA Bank (Mauritius) Ltd in respect of the loan credit facility contracted by the Life Assured.
                    </li>
                    <li style="font-size: 6pt;  line-height: 12px; margin-bottom: 10px;">
                      <span style="font-weight: 600;">f) </span><span style="color: #2f77b0; font-weight: 600;">Outstanding Loan</span>: the unpaid principal amount of loan contracted by the Life Assured excluding any unpaid loan interest.
                    </li>
                  </ul>
                  <h2 style="color: #2f77b0; font-size: 8pt;">ELIGIBILITY</h2>
                  <p style="font-size: 6pt;   line-height: 12px;">
                    Any natural person who applies for this Scheme and hereafter referred as life proposed, to whom the Policyholder has agreed in principle to grant a loan, must give his written consent thereto and by filling in, dating and signing an appropriate membership application form which will be remitted to him by ABSA Bank (Mauritius) Ltd. The insurer shall issue confirmation of acceptance only after the life proposed has satisfied the NICL underwriting requirements. In the event where terms are being restricted or extra premium being charged, the written consent and payment of the extra premium must be received by the Insurer prior to beginning of coverage.
                  </p>
                  <h2 style="color: #2f77b0; font-size: 8pt;">EFFECTIVE DATE</h2>
                  <p style="font-size: 6pt;   line-height: 12px;">
                    The insurance cover shall take effect on the date the loan credit facility is disbursed and the Life Assured has satisfied the insurer underwriting requirements.
                  </p>
                </td>
                <td style="width: 33.33%; padding: 0 25px; vertical-align: top;">
                  <h2 style="color: #2f77b0; font-size: 8pt;">CONFIDENTIALITY</h2>
                  <p style="font-size: 6pt;   line-height: 12px;">
                    Your personal data shall be processed as per the applicable laws pertaining to Data Protection. By signing the insurance application form or any other related questionnaires you agree that your personal information may be disclosed in strictest confidence by the insurer for evaluation of coverage eligibility and claim assessment and that the Life Assured is agreeable to that.
                  </p>
                  <h2 style="color: #2f77b0; font-size: 8pt;">COMMISSION</h2>
                  <p style="font-size: 6pt;   line-height: 12px;">
                    A commission of 15% of basic premium is payable to ABSA throughout the term of the cover.
                  </p>
                  <h2 style="color: #2f77b0; font-size: 8pt;">TERMINATION OF COVER</h2>
                  <p style="font-size: 6pt;  line-height: 12px; margin-bottom: 0;">
                    The assurance cover will cease and no benefits will become payable on:
                  </p>
                  <ul style="margin-left: 0; padding-left: 10px;">
                    <li style="font-size: 6pt;   line-height: 12px;">Life Assured attained 70 years</li>
                    <li style="font-size: 6pt;   line-height: 12px;">cessation of premium payment to the insurer</li>
                    <li style="font-size: 6pt;   line-height: 12px;">full settlement of loan contracted;</li>
                    <li style="font-size: 6pt;   line-height: 12px;">the benefit in respect of the Life Assured is paid-out.</li>
                  </ul>
                  <h2 style="color: #2f77b0; font-size: 8pt;">SUM ASSURED</h2>
                  <p style="font-size: 6pt;   line-height: 12px;">
                    In the event the Life Assured dies or becomes totally and permanently disabled prior to the expiry of the term of cover, the outstanding loan amount of the Life Assured shall be paid off to ABSA Bank (Mauritius) Ltd by NICL. The death or total and permanent disability proceeds occurring during the cover period, shall not exceed the outstanding capital amount of the credit.
                  </p>
                  <h2 style="color: #2f77b0; font-size: 8pt;">RISKS COVERED AND EXCLUSIONS</h2>
                  <ul style="list-style: none; margin-left: 0;padding-left: 0;">
                    <li>
                      <h3 style="color: #2f77b0; font-size: 6pt;  line-height: 12px; margin-bottom: 0;">(1) Death</h3>
                      <p style="font-size: 6pt;  line-height: 12px; margin-top: 0;">Death arising as a result of natural or accidental cause is covered except if it is caused due to suicide within 12 months from date of commencement of the risk.</p>
                    </li>
                    <li>
                      <h3 style="color: #2f77b0; font-size: 6pt;  line-height: 12px; margin-bottom: 0;">(2) Total and Permanent Disability</h3>
                      <p style="font-size: 6pt;  line-height: 12px; margin-top: 0;">It refers to the total and permanent inability of the Life Assured as a result of accident, injury and illness to:</p>
                      <ul style="padding-left: 10px;">
                        <li style="font-size: 6pt;  line-height: 12px; list-style-type: disc;">
                          Engage in his own or similar occupation for which he is suited by experience, training or education; or
                        </li>
                      </ul>
                    </li>
                  </ul>

                </td>
                <td style="width: 33.33%; vertical-align: top;">
                  <ul style="padding-left: 0;">
                    <li style="font-size: 6pt;   line-height: 12px;">
                      Unable to perform four Basic Activities of Daily Living (toileting, dressing, eating and climbing stairs} , or five Instrumental Activities of Daily living (Meal preparation,laundry,housekeeping activities, transportation and use of electronic equipment}
                    </li>
                  </ul>
                  <p style="font-size: 6pt;  line-height: 12px; margin-top: 0;">
                    The disability benefit does not apply in the event of the disability being, directly or indirectly caused as a result of:
                  </p>
                  <ul style="list-style: none; padding-left: 0;">
                    <li style="font-size: 6pt;   line-height: 12px;">
                      a) Self-Inflicted Injury;
                    </li>
                    <li style="font-size: 6pt;   line-height: 12px;">
                      b) Under the influence of alcohol;
                    </li>
                    <li style="font-size: 6pt;   line-height: 12px;">
                      c) The use of drugs (other than as prescribed by a medical practitioner);
                    </li>
                    <li style="font-size: 6pt;   line-height: 12px;">
                      d) Failure to follow medical advice;
                    </li>
                    <li style="font-size: 6pt;   line-height: 12px;">
                      e) Aviation Except as a fare paying passenger;
                    </li>
                    <li style="font-size: 6pt;   line-height: 12px;">
                      f) Wilful participation in any war, riot or civil commotion.
                    </li>
                  </ul>
                  <h3 style="color: #2f77b0; font-size: 6pt;  line-height: 12px;">CLAIMS</h3>
                    <p style="font-size: 6pt;  line-height: 12px;">
                      Any Claim arising as a result of death or total and permanent disability of the Life Assured should be notified by ABSA Bank (Mauritius) Ltd by completing a Claimant Declaration Form as soon as possible and be supported by the following authenticated documents:
                    </p>
                    <ul style="list-style: none; padding-left: 0;">
                      <li>
                        <h3 style="color: #2f77b0; font-size: 6pt;  line-height: 12px; margin-bottom: 0;">1. Death</h3>
                      </li>
                      <ul style="list-style: none; padding-left: 0;">
                        <li style="display: flex; align-items: center;">
                          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAaCAAAAADgJ0EXAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAD/h4/MvwAAAAd0SU1FB+gGCgkQNyuQqloAAAABb3JOVAHPoneaAAAAvklEQVQ4y2P4TyRgoKvCp8GriFK4mr/oLxEK/+QxdBNj9ScPhn5i3PjWmKGGGM+81GVIJMbXHwwYrH8SofC7NYPMC2LCMYKB5ch/fAq/b30IoloYGNr/41N4Sp5B+N7//weYGez/4VU4hY2BwfP/O2kG7rv/8Sr8v4qBgeF4IgPDhP8EFP4PY2DQZmDQ/UNQ4XVGoJkM+/4TVPjfF6jO5T8RCncxMMhcIkbhP8Ww9/+JUfj/8v//xCn8PxgVAgCKKctjWZrAmwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyNC0wNi0xMFQwOToxNjoxNCswMDowMDmntEAAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjQtMDYtMTBUMDk6MTY6MTQrMDA6MDBI+gz8AAAAKHRFWHRkYXRlOnRpbWVzdGFtcAAyMDI0LTA2LTEwVDA5OjE2OjU1KzAwOjAwPdIobQAAABl0RVh0U29mdHdhcmUAZ25vbWUtc2NyZWVuc2hvdO8Dvz4AAAAASUVORK5CYII=" alt="tick" width="20" height="15"> <span style="font-size: 6pt;  line-height: 12px; margin-left: 5px;">Death Certificate</span>
                        </li>
                        <li style="display: flex; align-items: center;">
                          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAaCAAAAADgJ0EXAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAD/h4/MvwAAAAd0SU1FB+gGCgkQNyuQqloAAAABb3JOVAHPoneaAAAAvklEQVQ4y2P4TyRgoKvCp8GriFK4mr/oLxEK/+QxdBNj9ScPhn5i3PjWmKGGGM+81GVIJMbXHwwYrH8SofC7NYPMC2LCMYKB5ch/fAq/b30IoloYGNr/41N4Sp5B+N7//weYGez/4VU4hY2BwfP/O2kG7rv/8Sr8v4qBgeF4IgPDhP8EFP4PY2DQZmDQ/UNQ4XVGoJkM+/4TVPjfF6jO5T8RCncxMMhcIkbhP8Ww9/+JUfj/8v//xCn8PxgVAgCKKctjWZrAmwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyNC0wNi0xMFQwOToxNjoxNCswMDowMDmntEAAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjQtMDYtMTBUMDk6MTY6MTQrMDA6MDBI+gz8AAAAKHRFWHRkYXRlOnRpbWVzdGFtcAAyMDI0LTA2LTEwVDA5OjE2OjU1KzAwOjAwPdIobQAAABl0RVh0U29mdHdhcmUAZ25vbWUtc2NyZWVuc2hvdO8Dvz4AAAAASUVORK5CYII=" alt="tick" width="20" height="15"> <span style="font-size: 6pt;  line-height: 12px; margin-left: 5px;">Certificate of the Cause of Death</span>
                        </li>
                        <li style="display: flex; align-items: center;">
                          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAaCAAAAADgJ0EXAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAD/h4/MvwAAAAd0SU1FB+gGCgkQNyuQqloAAAABb3JOVAHPoneaAAAAvklEQVQ4y2P4TyRgoKvCp8GriFK4mr/oLxEK/+QxdBNj9ScPhn5i3PjWmKGGGM+81GVIJMbXHwwYrH8SofC7NYPMC2LCMYKB5ch/fAq/b30IoloYGNr/41N4Sp5B+N7//weYGez/4VU4hY2BwfP/O2kG7rv/8Sr8v4qBgeF4IgPDhP8EFP4PY2DQZmDQ/UNQ4XVGoJkM+/4TVPjfF6jO5T8RCncxMMhcIkbhP8Ww9/+JUfj/8v//xCn8PxgVAgCKKctjWZrAmwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyNC0wNi0xMFQwOToxNjoxNCswMDowMDmntEAAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjQtMDYtMTBUMDk6MTY6MTQrMDA6MDBI+gz8AAAAKHRFWHRkYXRlOnRpbWVzdGFtcAAyMDI0LTA2LTEwVDA5OjE2OjU1KzAwOjAwPdIobQAAABl0RVh0U29mdHdhcmUAZ25vbWUtc2NyZWVuc2hvdO8Dvz4AAAAASUVORK5CYII=" alt="tick" width="20" height="15"> <span style="font-size: 6pt;  line-height: 12px; margin-left: 5px;">Birth Certificate</span>
                        </li>
                        <li style="display: flex; align-items: center;">
                          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAaCAAAAADgJ0EXAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAD/h4/MvwAAAAd0SU1FB+gGCgkQNyuQqloAAAABb3JOVAHPoneaAAAAvklEQVQ4y2P4TyRgoKvCp8GriFK4mr/oLxEK/+QxdBNj9ScPhn5i3PjWmKGGGM+81GVIJMbXHwwYrH8SofC7NYPMC2LCMYKB5ch/fAq/b30IoloYGNr/41N4Sp5B+N7//weYGez/4VU4hY2BwfP/O2kG7rv/8Sr8v4qBgeF4IgPDhP8EFP4PY2DQZmDQ/UNQ4XVGoJkM+/4TVPjfF6jO5T8RCncxMMhcIkbhP8Ww9/+JUfj/8v//xCn8PxgVAgCKKctjWZrAmwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyNC0wNi0xMFQwOToxNjoxNCswMDowMDmntEAAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjQtMDYtMTBUMDk6MTY6MTQrMDA6MDBI+gz8AAAAKHRFWHRkYXRlOnRpbWVzdGFtcAAyMDI0LTA2LTEwVDA5OjE2OjU1KzAwOjAwPdIobQAAABl0RVh0U29mdHdhcmUAZ25vbWUtc2NyZWVuc2hvdO8Dvz4AAAAASUVORK5CYII=" alt="tick" width="20" height="15"> <span style="font-size: 6pt;  line-height: 12px; margin-left: 5px;">National Identity Card</span>
                        </li>
                      </ul>
                      <li>
                        <h3 style="color: #2f77b0; font-size: 6pt;  line-height: 12px; margin-bottom: 0;">2. Disability</h3>
                      </li>
                      <ul style="list-style: none; padding-left: 0;">
                        <li style="display: flex; align-items: center;">
                          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAaCAAAAADgJ0EXAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAD/h4/MvwAAAAd0SU1FB+gGCgkQNyuQqloAAAABb3JOVAHPoneaAAAAvklEQVQ4y2P4TyRgoKvCp8GriFK4mr/oLxEK/+QxdBNj9ScPhn5i3PjWmKGGGM+81GVIJMbXHwwYrH8SofC7NYPMC2LCMYKB5ch/fAq/b30IoloYGNr/41N4Sp5B+N7//weYGez/4VU4hY2BwfP/O2kG7rv/8Sr8v4qBgeF4IgPDhP8EFP4PY2DQZmDQ/UNQ4XVGoJkM+/4TVPjfF6jO5T8RCncxMMhcIkbhP8Ww9/+JUfj/8v//xCn8PxgVAgCKKctjWZrAmwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyNC0wNi0xMFQwOToxNjoxNCswMDowMDmntEAAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjQtMDYtMTBUMDk6MTY6MTQrMDA6MDBI+gz8AAAAKHRFWHRkYXRlOnRpbWVzdGFtcAAyMDI0LTA2LTEwVDA5OjE2OjU1KzAwOjAwPdIobQAAABl0RVh0U29mdHdhcmUAZ25vbWUtc2NyZWVuc2hvdO8Dvz4AAAAASUVORK5CYII=" alt="tick" width="20" height="15"> <span style="font-size: 6pt;  line-height: 12px; margin-left: 5px;">Medical Certificate by treating doctor</span>
                        </li>
                        <li style="display: flex; align-items: center;">
                          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAaCAAAAADgJ0EXAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAD/h4/MvwAAAAd0SU1FB+gGCgkQNyuQqloAAAABb3JOVAHPoneaAAAAvklEQVQ4y2P4TyRgoKvCp8GriFK4mr/oLxEK/+QxdBNj9ScPhn5i3PjWmKGGGM+81GVIJMbXHwwYrH8SofC7NYPMC2LCMYKB5ch/fAq/b30IoloYGNr/41N4Sp5B+N7//weYGez/4VU4hY2BwfP/O2kG7rv/8Sr8v4qBgeF4IgPDhP8EFP4PY2DQZmDQ/UNQ4XVGoJkM+/4TVPjfF6jO5T8RCncxMMhcIkbhP8Ww9/+JUfj/8v//xCn8PxgVAgCKKctjWZrAmwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyNC0wNi0xMFQwOToxNjoxNCswMDowMDmntEAAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjQtMDYtMTBUMDk6MTY6MTQrMDA6MDBI+gz8AAAAKHRFWHRkYXRlOnRpbWVzdGFtcAAyMDI0LTA2LTEwVDA5OjE2OjU1KzAwOjAwPdIobQAAABl0RVh0U29mdHdhcmUAZ25vbWUtc2NyZWVuc2hvdO8Dvz4AAAAASUVORK5CYII=" alt="tick" width="20" height="15"> <span style="font-size: 6pt;  line-height: 12px; margin-left: 5px;">Copies of medical investigations done</span>
                        </li>
                        <li style="display: flex; align-items: center;">
                          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAaCAAAAADgJ0EXAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAD/h4/MvwAAAAd0SU1FB+gGCgkQNyuQqloAAAABb3JOVAHPoneaAAAAvklEQVQ4y2P4TyRgoKvCp8GriFK4mr/oLxEK/+QxdBNj9ScPhn5i3PjWmKGGGM+81GVIJMbXHwwYrH8SofC7NYPMC2LCMYKB5ch/fAq/b30IoloYGNr/41N4Sp5B+N7//weYGez/4VU4hY2BwfP/O2kG7rv/8Sr8v4qBgeF4IgPDhP8EFP4PY2DQZmDQ/UNQ4XVGoJkM+/4TVPjfF6jO5T8RCncxMMhcIkbhP8Ww9/+JUfj/8v//xCn8PxgVAgCKKctjWZrAmwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyNC0wNi0xMFQwOToxNjoxNCswMDowMDmntEAAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjQtMDYtMTBUMDk6MTY6MTQrMDA6MDBI+gz8AAAAKHRFWHRkYXRlOnRpbWVzdGFtcAAyMDI0LTA2LTEwVDA5OjE2OjU1KzAwOjAwPdIobQAAABl0RVh0U29mdHdhcmUAZ25vbWUtc2NyZWVuc2hvdO8Dvz4AAAAASUVORK5CYII=" alt="tick" width="20" height="15"> <span style="font-size: 6pt;  line-height: 12px; margin-left: 5px;">National Identity Card</span>
                        </li>
                      </ul>
                    </ul>
                    <h3 style="color: #2f77b0; font-size: 6pt;  line-height: 12px;">COOLING OFF NOTICE</h3>
                    <p style="font-size: 6pt;  line-height: 12px;">
                      The Life Assured has a period of 30 days from the date of confirmation of cover to notify ABSA Bank (Mauritius) Ltd of his intention not to proceed with the policy. Full premium paid shall be refunded.
                    </p>
                    <h3 style="color: #2f77b0; font-size: 6pt;  line-height: 12px;">CONTACT DETAILS</h3>
                    <p style="font-size: 6pt;  line-height: 12px; margin-top: 0;">
                      <span>National Insurance Co. Ltd</span> <br />
                      NIC Centre, 217 Royal Road, Curepipe, <br />
                      Republic of Mauritius <br />
                      <a href="tel:+2306023000" style="text-decoration: none; color: #000;">Tel: (230):(+230) <span style="color: #2f77b0;">602 3000</span></a> <br />
                      <a href="mailto:customerservice@nicl.mu" style="text-decoration: none; color: #000;">Email: <span style="color: #2f77b0;">customerservice@nicl.mu</span></a><br />
                      <a href="www.nicl.mu" style="text-decoration: none; color: #000;">Website: <span style="color: #2f77b0;">www.nicl.mu</span></a> <br />
                      <span>Business Registration Number: </span><span style="color: #2f77b0;">C15129641</span>
                    </p>
                </td>
              </tr>  
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
