<!DOCTYPE html>
<html>

<head>
  <meta http-equiv=Content-Type content="text/html; charset=utf-8">
  <meta name=Generator content="Microsoft Word 15 (filtered)">
  <!-- <style>
    @font-face {
      font-family: 'Source Sans Pro';
      src: url('/fonts/Source_Sans_Pro/sourcesanspro-bold-webfont.woff2') format('woff2'),
        url('/fonts/Source_Sans_Pro/sourcesanspro-bold-webfont.woff') format('woff');
      font-weight: 700;
      font-style: normal;

    }

    @font-face {
      font-family: 'Source Sans Pro';
      src: url('/fonts/Source_Sans_Pro/sourcesanspro-regular-webfont.woff2') format('woff2'),
        url('/fonts/Source_Sans_Pro/sourcesanspro-regular-webfont.woff') format('woff');
      font-weight: 400;
      font-style: normal;

    }

    @font-face {
      font-family: 'Source Sans Pro';
      src: url('/fonts/Source_Sans_Pro/sourcesanspro-semibold-webfont.woff2') format('woff2'),
        url('/fonts/Source_Sans_Pro/sourcesanspro-semibold-webfont.woff') format('woff');
      font-weight: 600;
      font-style: normal;

    }

    body {
      position: relative;
      color: #000000;
      font-family: 'Source Sans Pro', Arial, sans-serif;
      text-rendering: optimize-speed;
      /* -webkit-print-color-adjust: exact !important; */
    }

    .fn {
      font-weight: normal !important;
    }

    .page-break-after {
      page-break-after: always;
    }

    .page-break-before {
      page-break-before: always;
    }

    @media print {
      @page {
        size: A4 !important;
        margin-top: 2mm;
        margin-right: 3mm;
        margin-bottom: 2mm;
        margin-left: 3mm;
      }

      body {
        position: relative;
        color: #000000;
        font-size: 14px;
      }

      .page-break-after {
        page-break-after: always;
      }

      .page-break-before {
        page-break-before: always;
      }

      tfoot {
        height: 100px;
      }
    }

    .fixed-tfoot {
      position: fixed;
      bottom: -30px;
      left: 0;
      width: 100%;
      z-index: 1;
    }

    .fixed-tfoot .copyrights {
      width: 21cm;
      height: 29.7cm;
      margin: 0 auto;
      font-size: 10px;
    }

    tfoot {
      height: 100px;
    }

    .fixed-tfoot tr td {
      vertical-align: bottom;
    }

    table {
      position: relative;
      height: 100%;
    }

    .td-width {
      width: 33.33% !important;
      padding-right: 10px;
    }

    table tr td {
      word-break: break-word;
      word-wrap: break-word;
    }

    table tr td,
    table tr th {
      font-size: 10px;
    }

    table tr td h2 {
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    table tr td h2.title {
      font-size: 14px;
    }

    table tr td .label {
      font-size: 10px;
      font-weight: bold;
      margin-bottom: 4px;
    }

    table tr td .value {
      font-size: 10px;
      word-break: break-word;
      word-wrap: break-word;
    }

    table tbody tr td {
      vertical-align: top;
    }


    .terms-content * {
      font-size: 8px !important;
    }

    .terms-content h2 {
      font-size: 8px;
      margin-top: 2.5px;
      margin-bottom: 2.5px;
    }

    .terms-content h3 {
      font-size: 8px;
      margin-top: 2.5px;
      margin-bottom: 2.5px;
    }

    .terms-content p {
      font-size: 8px;
      margin-top: 2.5px;
      margin-bottom: 2.5px;
    }

    .terms-content ul {
      margin-top: 0;
      margin-bottom: 0;
    }

    .terms-content ul li,
    .terms-content ol li {
      font-size: 8px;
      margin-bottom: 2.5px;
    }

    .row-wrapper {
      display: block;
      border-bottom: 1px dashed #d5d5d5;
      clear: both;
      overflow: hidden;
      margin-bottom: 15px;
    }

    .correspondence-addr .row-wrapper:last-child {
      border-bottom: 0;
    }

    .row-wrapper .tr-row {
      display: table;
      width: 100%;
    }

    .row-wrapper .tr-row .td-width {
      display: table-cell;
      vertical-align: top;
      max-width: 33.33% !important;
      width: 33.33% !important;
      min-width: 33.33% !important;
    }

    .thead-group {
      display: table-header-group;
    }

    .page-footer {
      position: fixed;
      bottom: 15px;
      width: 100%;
      left: 10px;
      font-size: 10px;
    }
  </style> -->

</head>

<body lang=EN-US style='word-wrap:break-word;'>
  <style>
     body{
            font-family: Arial, Helvetica, sans-serif;
        }
  </style>

  <section style="margin: 0 50px;">

    <p style="font-size: 7pt;">
      Date:

    </p>

    <p style="font-size: 7pt;">Name:
      <br>

    </p>

    <br />

    <p style="font-size: 7pt;">Dear </p>

    <p style="font-size: 7pt;"><b>RE: ACCEPTANCE FOR ABSA BANK MAURITIUS LTD DECREASING TERM ASSURANCE </b></p>

    <p style="font-size: 7pt;">
      With reference to your ABSA BANK MAURITIUS LTD Deceasing Term Assurance cover dated, please be informed that your proposal has been accepted as per the terms set below:
    </p>

    <br />

    <table width="100%" border="0" cellpadding="1" cellspacing="0" style="margin: 5px 50px;">

      <tr style="margin-bottom:10pt;">
        <td width="50%">
          <p style="font-weight: 400; margin-top: 10px; font-size: 7pt;">
            Bank Reference (Loan No.)
          </p>
        </td>
        <td width="50%">
          <p style="font-weight: 700; margin-top: 10px; font-size: 7pt;">
            : 
          </p>
        </td>
      </tr>

      <tr style="margin-bottom:10pt;">
        <td width="50%">
          <p style="font-weight: 400; margin-top: 10px; font-size: 7pt;">
            Type of Policy
          </p>
        </td>
        <td width="50%">
          <p style="font-weight: 700; margin-top: 10px; font-size: 7pt;">
            : Decreasing term assurance
          </p>
        </td>
      </tr>

      <tr>
        <td width="50%">
          <p style="font-weight: 400; margin-top: 10px; font-size: 7pt;">
            Sum Assured
          </p>
        </td>
        <td width="50%">
          <p style="font-weight: 700; margin-top: 10px; font-size: 7pt;">
            : 
          </p>
        </td>
      </tr>

      <tr style="margin-bottom:10pt;">
        <td width="50%">
          <p style="font-weight: 400; margin-top: 10px; font-size: 7pt;">
            Term
          </p>
        </td>
        <td width="50%">
          <p style="font-weight: 700; margin-top: 10px; font-size: 7pt;">
            : 
          </p>
        </td>
      </tr>

      <tr style="margin-bottom:10pt;">
        <td width="50%">
          <p style="font-weight: 400; margin-top: 10px; font-size: 7pt;">
            Date of commencement
          </p>
        </td>
        <td width="50%">
          <p style="font-weight: 700; margin-top: 10px; font-size: 7pt;">
            : 
          </p>
        </td>
      </tr>

      <tr style="margin-bottom:10pt;">
        <td width="50%">
          <p style="font-weight: 400; margin-top: 10px; font-size: 7pt;">
            Benefits covered
          </p>
        </td>
        <td width="50%">
          <p style="font-weight: 700; margin-top: 10px; font-size: 7pt;">
            : Death &amp; Total and Permanent Disability
          </p>
        </td>
      </tr>

      <tr style="margin-bottom:10pt;">
        <td width="50%">
          <p style="font-weight: 400; margin-top: 10px; font-size: 7pt;">
            Premium
          </p>
        </td>
        <td width="50%">
          <p style="font-weight: 700; margin-top: 10px; font-size: 7pt;">
            : 
          </p>
        </td>
      </tr>

      <tr style="margin-bottom:10pt;">
        <td width="50%">
          <p style="font-weight: 400; margin-top: 10px; font-size: 7pt;">
            Frequency
          </p>
        </td>
        <td width="50%">
          <p style="font-weight: 700; margin-top: 10px; font-size: 7pt;">
            : One-time premium
          </p>
        </td>
      </tr>

    </table>

    <br />

    <p style=" font-size: 7pt; line-height: 15px;">Assuring you our best services at all times.</p>

    <br />
    <br />

  </section>

</body>

</html>