<p style="position: relative; left: 0; bottom: 0; width: 100%; padding: 10px; text-align: center; margin-top: 30px; padding-top: 30px;font-size: 12px; white-space: normal;">
    © <%= new Date().getFullYear() %> Absa Group Limited. All rights reserved. Absa Bank (Mauritius) Limited (registered number C10068913).
    <br />
    Absa Bank ( Mauritius) Limited is regulated by the Bank of Mauritius and the Financial Services Commission
</p>