<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Absa Statement</title>
    <style type="text/css">
      .page-break-after {
            page-break-after: always;
        }

        .page-break-before {
            page-break-before: always;
        }

    </style>
</head>

<body>
    <table width="100%" border="0" cellpadding="3" cellspacing="0">
        
        <tbody style="padding-bottom: 30px;">
            <tr>
                <td
                    style="font-weight: 800; font-size: 30px; color: #DC0032;font-family: 'Source Sans Pro', Arial, sans-serif; letter-spacing: 1px;">
                    Personal Instalment Loan Agreement
                </td>
            </tr>
            <tr>
                <td>
                    <p style="line-height: 1.6;">
                        Dear 
                    </p>

                    <p style="color: #DC0032; font-weight: 700; line-height: 1.6;">
                        Your Personal Instalment Loan
                    </p>
                    <p style="line-height: 2.6;">
                        Thank you for choosing Absa Bank (Mauritius) Limited for your personal loan application. We are pleased to share that your application has been sanctioned for __________________. The details of the loan are as follows:.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="1" cellpadding="3" cellspacing="0">
        <tbody style="padding-bottom: 30px;">
            <tr>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                        Borrower, You
                    </p>
                </td>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                        
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                        Loan amount applied
                    </p>
                </td>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                       
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                        Loan amount approved
                    </p>
                </td>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                       
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                        Purpose
                    </p>
                </td>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                        
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                        Interest Rate per annum
                    </p>
                </td>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                       
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                        Bank’s Prime Lending Rate
                    </p>
                    <p style="line-height: 1.6;">
                        (This is subject to change from time to time and any change
                        will be published by the Bank.)
                    </p>
                </td>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                        Prime Lending Rate of the Bank is presently at _________________ per annum.
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                        Total amount of interest based on the presently applicable Interest Rate
                    </p>
                </td>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                        
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                        Default Interest Rate (where applicable)
                    </p>
                </td>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                        2% (per annum) calculated on default instalment capital excluding interest payable thereon
                    </p>
                </td>
            </tr>
            <tr>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 1.6;">
                        Fee
                    </p>
                </td>
                <td width="50%" style="padding: 0 5px;">
                    <p style="line-height: 3.6;">
                       
                    </p>
                    <br>
                    
                </td>
            </tr>
          
                <tr>
                    <td width="50%" style="padding: 0 5px;">
                        <p style="line-height: 1.6;">
                            Insurance Premium
                        </p>
                    </td>
                    <td width="50%" style="padding: 0 5px;">
                        <p style="line-height: 1.6;">
                            One-time insurance premium towards _________________ of  _________________ will be deducted from your loan amount, before disbursement
                        </p>
                    </td>
                </tr>
              
                    <tr>
                        <td width="50%" style="padding: 0 5px;">
                            <p style="line-height: 1.6;">
                                Indicative instalment amount (including Interest).
                            </p>
                            <p style="line-height: 1.6;">
                                First Instalment Date 
                            </p>
                            <p style="line-height: 1.6;">
                                 
                                The instalment amount will vary in line with changes in the Interest rate, where
                                applicable.
                            </p>
                        </td>
                        <td width="50%" style="padding: 0 5px;">
                            <p style="line-height: 1.6;">
                                _________________
                            </p>
                            <p style="line-height: 1.6;">
                                _________________
                            </p>
                            <p style="line-height: 1.6;">
                                 <br />
                                    You authorize us to debit your Account for the ﬁrst instalment amount, as provided
                                    above, and for the subsequent instalment amounts, on the of each month, until full and ﬁnal satisfaction of the outstanding loan amount.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" style="padding: 0 5px;">
                            <p style="line-height: 1.6;">
                                Term of the Loan (in months)
                            </p>
                        </td>
                        <td width="50%" style="padding: 0 5px;">
                            <p style="line-height: 1.6;">
                               
                            </p>
                        </td>
                    </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellpadding="3" cellspacing="0" class="page-break-before">
       
        <tbody style="padding-bottom: 30px;">
            <tr>
                <td>
                    <p style="padding-bottom: 20px;">
                        Personal Loan Agreement
                    </p>
                    <p style="color: #DC0032; font-weight: 700;">
                        Personal Instalment Loan Agreement
                    </p>
                    <p style="color: #DC0032; font-weight: 700;">
                        1. How our Loan works
                    </p>
                    <p style="line-height: 1.6;">
                        Our Loan allows you to borrow a sum of money that you repay by regular Instalments over an
                        agreed period, with fees and interest.
                    </p>
                    <p style="line-height: 1.6;">
                        You agree to only use the Loan Amount for the Purpose stated above. We reserve the right to
                        request evidence that the Loan Amount has been/is being used for the Purpose. Should we
                        determine, at our sole discretion, that the Loan Amount, or any part thereof, has not been used
                        for the Purpose, we reserve the right to cancel the Loan and demand immediate repayment of all
                        amounts disbursed under the Loan.
                    </p>
                    <p style="color: #DC0032; font-weight: 700;">
                        2. Our Agreement
                    </p>
                    <p style="line-height: 1.6;">
                        In the rest of these terms, we refer to:
                    <ul>
                        <li>
                            this personal Loan agreement as this ‘Agreement’; and
                        </li>
                        <li>
                            your bank account with us or any other nominated bank account as ‘your Account’.
                        </li>
                    </ul>

                    <p style="line-height: 1.6;">
                        You acknowledge that if you fail to comply with any terms and conditions mentioned as part of
                        the loan agreement or if the Loan is not used for the purpose as stated in your application, you
                        will be in default under the terms of this agreement.
                    </p>

                    <p style="color: #DC0032; font-weight: 700;">
                        3. Your Loan amount
                    </p>
                    <p style="line-height: 1.6;">
                        You agree that your Loan will be the amount you applied for.
                    </p>
                    <p style="line-height: 1.6;">
                        You agree to notify us in writing if you take up additional credit facilities with another
                        credit provider during the term of this Agreement.
                    </p>
                    <p style="color: #DC0032; font-weight: 700;">
                        4. Receiving your Loan
                    </p>
                    <p style="line-height: 1.6;">
                        We will disburse your Loan (or the balance after we have paid off your debt to another credit
                        provider), to your Absa bank account.

                    </p>
                    <p style="line-height: 1.6;">
                        You are required to maintain sufficient funds in the designated account, which you have agreed
                        upon, for the monthly debiting of your loan repayments - (i) In case you have an existing Absa
                        bank account OR (ii) In case you have chosen any non-Absa bank account, from where your monthly
                        repayments are to be debited.
                    </p>
                    <p style="line-height: 1.6;">
                        You authorize us to change the date on which we debit your account to pay the Instalment due to
                        a closer date on which your salary is credited to your account. Where we do so, we will notify
                        you at least 7 business days before the date upon which the change will occur.
                    </p>
                    <p style="line-height: 1.6;">
                        If we require you to pay off a debt to a credit provider as a condition of your loan, you must
                        obtain a statement for us from the credit provider showing how much is required to pay off the
                        debt, and we will give you a cheque (or make a direct payment) to the credit provider and pay or
                        make available (in case it is the earmarked amount) the remainder of your loan to you.
                    </p>
                    <p style="color: #DC0032; font-weight: 700;">
                        5. Interest, fees and costs
                    </p>
                    <p style="line-height: 1.6;">
                        You agree to pay interest, fees and costs as stated or referred to in this agreement.
                    </p>
                    <p style="color: #DC0032; font-weight: 700;">
                        6. Interest
                    </p>
                    <p style="line-height: 1.6;">
                        (a) We will charge you Interest on the balance outstanding of your Loan daily at the end of each
                        day. The outstanding balance comprises of the entire Loan amount disbursed, including the
                        ‘earmarked amount’ in your account as well, if applicable.
                    </p>
                    <p style="line-height: 1.6;">
                        (b) We will not charge Interest on any Interest which forms part of the balance outstanding on
                        your Loan unless such Interest remains unpaid for at least 12 months.
                    </p>
                    <p style="line-height: 1.6;">
                        (c) We calculate interests on your outstanding Loan amount on a daily basis and these are
                        adjusted to the loan account monthly.
                    </p>
                    <p style="line-height: 1.6;">
                        (d) Unless the interest rate on your Loan is a fixed one, such interest rate will change as our
                        Reference Rate varies from time to time. The reference rate can be either our “Prime Lending
                        Rate” or the “Key Rate”.
                    </p>
                    <p style="line-height: 1.6;">
                        (e) You will be notified by us, of changes in our Reference Rate and/or the margin to your
                        Interest Rate and the adjusted amount of your Instalment, within 45 days after the changes take
                        effect.
                    </p>
                    <p style="line-height: 1.6;">
                        (f) If there is not enough money in your Account to pay an Instalment we will, subject to Clause
                        6(g) below, charge the default interest rate on the overdue amount until it is paid.
                    </p>
                    <p style="line-height: 1.6;">
                        (g) If you default, you will pay a default interest rate of 2 per cent, wherever applicable,
                        calculated on the default instalment capital excluding interest payable thereon.
                    </p>
                    <p style="line-height: 1.6;">
                        (h) If the reference rate is less than zero, the Interest shall be deemed to be zero, if
                        applicable.
                    </p>
                    <p style="line-height: 1.6;">
                        (i) This clause 6(i) is applicable to you only if the Bank has granted you a special interest
                        rate because of the customer segment to which you belong at the time of the offer of the
                        facility. Should you move to another customer segment during the term of the loan, the bank
                        reserves the right to review the interest rate. If it proceeds as such: (i) all outstanding
                        amounts on your account shall bear interests at the prevailing commercial rate based on your new
                        customer segment; (ii) the loan will be re-amortised on the date you change customer segment,
                        based on the outstanding balance on the account, the new applicable interest rate, your maximum
                        debt service ratio and the remaining tenor of your Loan; (iii) your revised Instalment shall
                        then be duly communicated to you; (iv) the bank shall notify you of the changes 30 days before
                        the changes take effect.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellpadding="3" cellspacing="0" class="page-break-before">
        
        <tbody>
            <tr>
                <td style="padding-bottom: 30px;">
                    <p style="padding-bottom: 20px;">
                        Personal Loan Agreement
                    </p>

                    <p style="color: #DC0032; font-weight: 700;">
                        7. Instalments
                    </p>
                    <p style="line-height: 1.6;">
                        You must pay the Instalments to repay your Loan. Your Instalments will be deducted from your
                        Account on a monthly basis on the agreed Instalment date.
                    </p>
                    <p style="line-height: 1.6;">
                        You agree to tell us and any additional credit providers if you are unable to pay an Instalment
                        on the Instalment date (including the reason why you are not able to pay the Instalment). You
                        must seek our agreement regarding arrangements for the payment of the Instalment in default.
                    </p>
                    <p style="line-height: 1.6;">
                        If we need to change the date of your Instalment, we will notify you at least 7 business days
                        before the date upon which the change will occur.
                    </p>
                    <p style="line-height: 1.6;">
                        You undertake to pay any residual balance left at the end of the Term of the Loan.
                    </p>
                    <p style="line-height: 1.6;">
                        If any sum falls due for payment on a day which is not a Business Day it shall be made on the
                        immediately preceding Business Day.
                    </p>
                    <p style="line-height: 1.6;">
                        In the event that you fail to pay the Instalment on the Instalment date, without prejudice to
                        any of our rights, we shall, at our own discretion and without any prior notice to you, be
                        entitled to place a hold on an amount, not exceeding the amount in arrears under this Agreement,
                        standing to the credit of your Account or any other account that you may hold in our books to
                        secure the payment of the amount in arrears. The Instalment amount will be debited from your
                        account in favour of the Bank as payment of the amount in arrears. The hold will be released
                        when the amount in arrears has been settled. When the Bank exercises this right, you will not be
                        able to withdraw or use the earmarked amount sitting in your account.
                    </p>
                    <p style="color: #DC0032; font-weight: 700;">
                        8. Pre-payments and paying off your Loan early
                    </p>
                    <p style="line-height: 1.6;">
                        At any time, you can pay Instalments early or pay off the whole outstanding balance of your
                        Loan.
                    </p>
                    <p style="line-height: 1.6;">
                        If you want to pay off the whole outstanding balance you must inform us, and we will give you a
                        statement telling you how much you owe.
                    </p>
                    <p style="color: #DC0032; font-weight: 700;">
                        9. Insurance
                    </p>
                    <p style="line-height: 1.6;">
                        If you have opted to choose the insurance premiums during your loan application, we will be
                        deducting the applicable one-time premium against the loan amount disbursed. If you are willing
                        to pledge any other insurance policy, it should be equal in amount and not less than the value
                        of your Loan for the term of this agreement, and you will be required to provide us with proof,
                        and that you have taken up the requisite insurance policies and you agree to pay the said
                        insurance premiums upfront for the duration of this agreement. The proceeds of the insurance
                        policies will be assigned to us.
                    </p>
                    <p style="line-height: 1.6;">
                        Pursuant to Section 81 of the Insurance Act 2005, you have a free choice as to the insurance
                        policy required to guarantee this Loan. The insurance policy to be provided can take the form of
                        (1) a new insurance policy;
                        (2) an existing insurance policy; or (3) a combination of the aforementioned two. <b>By signing
                            this Agreement, you hereby confirm that you have been informed of your right to this free
                            choice under Section 81 of the Insurance Act 2005 and that you have exercised this right
                            freely and willingly.</b>
                    </p>
                    <p style="line-height: 1.6;">
                        In the event that you fail to renew or maintain the required insurance cover during the term of
                        this Agreement, you authorise us to pay the insurance premium on your behalf by debiting your
                        Account or your Loan account.
                    </p>
                    <p style="line-height: 1.6;">
                        You will notify us of any event which may give rise to a claim under any insurance policy
                        assigned with respect to your Loan.
                    </p>
                    <p style="line-height: 1.6;">
                        <b><u>Your rights</u></b>
                    </p>
                    <p style="line-height: 1.6;">
                        (a) Request for a copy of the contract pertaining to the security signed by yourself at any time
                        on or after signature of the contract; <br />
                        (b) Make enquiries from the MCIB on information which has been registered in your name by the
                        Bank; <br />
                        (c) Make a complaint if you feel aggrieved by the acts or omissions of the Bank by calling our
                        Service Centre on the (+230) 402 1000; <br />
                        (d) Submit a request for a statement of account related to the credit facility at any time
                        during the credit facility period; and<br />
                        (e) Seek legal advice pertaining to the above security to understand the commitment and the
                        potential consequences of entering into this contract at your own cost and expenses.
                    </p>
                    <p style="line-height: 1.6;">
                        <b><u>Your liabilities</u></b>
                    </p>
                    <p style="line-height: 1.6;">
                        (a) You have bound yourself for the Borrower’s debt and you undertake to honour the credit
                        obligations of the Borrower in case of impaired credits; <br />
                        (b) In case the Borrower fails to pay, you are liable for Borrower’s debt which may include
                        accrued interest, as specified in the contract pertaining to the security;<br />
                        (c) In case the Borrower fails to pay, you are liable for the liabilities of the Borrower
                        pertaining to the security and; <br />
                        (d) You will be rendered liable under the contract if the Borrower is in default of any payment
                        to the Bank and the Bank makes a demand on the Guarantor.
                    </p>

                    <p style="color: #DC0032; font-weight: 700;">
                        10. Default
                    </p>
                    <p style="line-height: 1.6;">
                        You will be in default under the terms of this agreement, if and when applicable:
                    </p>
                    <p style="line-height: 1.6;">
                        (a) <b>Non-Payment:</b> you do not pay an Instalment in full by the Instalment date and such
                        failure to pay continues for a period of: <br />
                        &nbsp; (i) three (3) months if Instalments must be repaid on a monthly basis; or <br />
                        &nbsp; (ii) six (6) months if Instalments must be repaid at intervals other than on a monthly
                        basis; or
                    </p>
                    <p style="line-height: 1.6;">
                        (b) <b>Other obligations:</b> You do not comply with your obligations under any other credit
                        facilities and/or ancillary facilities agreements which you already have with us and/or which
                        you may have with us after signature of this Agreement;
                    </p>
                    <p style="line-height: 1.6;">
                        (c) <b>Bankruptcy/Insolvency</b> <br />
                        &nbsp; (i) You are deemed to be bankrupt; <br />
                        &nbsp; (ii) We have reason to believe that an Obligor is, or is likely to become, bankrupt of
                        insolvent;<br />


                </td>
            </tr>
        </tbody>
    </table>

    <table width="100%" border="0" cellpadding="3" cellspacing="0" class="page-break-before">
        
        <tbody>
            <tr >
                <td >
                    <p style="padding-bottom: 20px;">
                        Personal Loan Agreement
                    </p>
                    <p style="line-height: 1.6;">
                        &nbsp; (iii)An Obligor is unable, or admits inability to pay its debts when due or suspends
                        making payment on any of its debts; or by reason of actual or anticipated financial <br />
                        &nbsp; difficulties, commences negotiations with one or more of his creditors with a view to
                        rescheduling any of his indebtedness;<br />
                        &nbsp; (iv) The value of the assets of an Obligor is less than its liabilities (considering
                        contingent and prospective liabilities);
                    </p>
                    <p style="line-height: 1.6;">
                        (d) A decision of a competent authority is delivered against an Obligor’s assets;
                    </p>

                    <p style="line-height: 1.6;">
                        (e) <b>Misrepresentation:</b> Any representation, warranty or undertaking made by you or the
                        Guarantor in the Finance Documents or any other document delivered by or on your behalf or on
                        behalf of the Guarantor under or in connection with any Finance Document is or proves to have
                        been incorrect or misleading in any material respect when made or deemed to be made.; is not
                        complied with; or ceases to be true;
                    </p>
                    <p style="line-height: 1.6;">
                        (f) <b>Unlawfulness and invalidity:</b> <br />
                        &nbsp; (i) It is or it becomes unlawful for an Obligor to perform any of your obligations under
                        the Finance Documents;
                        <br />

                        &nbsp; (ii) Any obligation or obligations of any obligor under any finance documents are not or
                        cease to be legal, valid, binding or enforceable and the cessation individually or <br />
                        &nbsp;cumulatively
                        materially and adversely affects the interests of the Bank under the finance documents ;
                        <br />
                        &nbsp; (iii) Any finance documents ceases to be in full force and effect or is alleged by a
                        party to it (other than the bank) to be ineffective;
                    </p>
                    <p style="line-height: 1.6;">
                        (g) <b>Repudiation:</b> An obligor rescinds or purports to rescind or repudiates or purports to
                        repudiate a finance documents or evidences an intention to rescind or repudiate a finance
                        documents ;
                    </p>
                    <p style="line-height: 1.6;">
                        (h) <b>Litigation:</b> Any litigation, arbitration, administrative, governmental, regulatory or
                        other investigations, proceedings or disputes are commenced or threatened in relation to the
                        finance documents or the transactions contemplated in the finance documents or against any
                        obligor or its assets which have or are reasonably likely to have a material adverse effect.
                    </p>

                    <p style="line-height: 1.6;">
                        (i) <b>Material Adverse Effect:</b> Any event or circumstance occurs which the bank reasonably
                        believes has or is reasonably likely to have a material adverse effect.
                    </p>
                    <p style="line-height: 1.6;">
                        In this Agreement, unless the context otherwise requires the following definitions shall apply:
                    </p>
                    <p style="line-height: 1.6;">
                        <b>“Material Adverse Effect”</b> means in the reasonable opinion of the Bank, a material adverse
                        effect on:
                    </p>
                    <p style="line-height: 1.6;">
                        (a) the business, operations, property, condition (financial or otherwise) or prospects of any
                        party to this agreement or the finance documents ; or <br />
                        (b) the ability of any obligor to perform any of its obligations under the finance documents ;
                        or
                        <br />
                        (c) the validity or enforceability of any of the finance documents or the rights or remedies of
                        the bank under any of the finance documents
                    </p>
                    <p style="line-height: 1.6;">
                        <b>“Obligor”</b> means the Borrower, the Guarantor(s) (if named in the Commercial Terms) and any
                        other person who has given a guarantee or security relating to this Agreement.
                    </p>
                    <p style="color: #DC0032; font-weight: 700;">
                        11. Consequences of Default
                    </p>
                    <p style="line-height: 1.6;">
                        In case you default in any of your obligations under this Agreement or any agreement governing
                        an existing/ancillary facility with us, we have the right to contact any referee, employer or
                        the Mauritius Credit

                        Information Bureau and to make any such enquiry or disclosure as may be deemed appropriate by
                        us.
                    </p>
                    <p style="line-height: 1.6;">
                        If you default in any of your obligations under this Agreement or any agreement governing an
                        existing/ancillary facility with us, we may end this Agreement by written notification to you
                        requiring you to pay the whole outstanding balance of your Loan within 14 business days after
                        the delivery of the notification, with continuing Interest, Fees and Costs. On the expiry of
                        this notification we may take steps to enforce our security (if any).
                    </p>
                    <p style="line-height: 1.6;">
                        In the context of a default, you will be responsible for the attorney's fees reasonably expended
                        by us by way of court initiated proceedings in order to recover any outstanding balance of the
                        Loan Account.
                    </p>
                    <p style="color: #DC0032; font-weight: 700;">
                        12. Validity of the Offer
                    </p>
                    <p style="line-height: 1.6;">
                        Please sign the agreement to confirm acceptance of the terms mentioned therein.
                    </p>

                </td>
            </tr>

            <table width="100%" border="0" cellpadding="3" cellspacing="0">
                <tr >
                    <td width="60%">
                        <div style="margin-bottom: 3px; margin-top: 15px; font-weight: 700;">
                            ______________________________
                        </div>
                        <div style="margin-bottom: 15px; font-weight: 700;">
                            Signed at
                        </div>
                    </td>
                    <td width="40%">
                         <div style="margin-bottom: 3px; margin-top: 15px; font-weight: 700;">
                            ______________________________
                        </div>
                        <div style="margin-bottom: 15px; font-weight: 700;">
                            Signed on
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <div style="margin-bottom: 3px; margin-top: 15px; font-weight: 700;">
                            ______________________________
                        </div>
                        <div style="margin-bottom: 15px; font-weight: 700;">
                            Borrower signature
                        </div>
                    </td>
                    <td width="50%">
                        <div style="margin-bottom: 3px; margin-top: 15px; font-weight: 700;">
                            ______________________________
                        </div>
                        <div style="margin-bottom: 15px; font-weight: 700;">
                            Name & title
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <div style="margin-bottom: 3px; margin-top: 15px; font-weight: 700;">
                            ______________________________
                        </div>
                        <div style="margin-bottom: 15px; font-weight: 700;">
                            Bank authorised signature
                        </div>
                    </td>
                    <td width="50%">
                        <div style="margin-bottom: 3px; margin-top: 15px; font-weight: 700;">
                            ______________________________
                        </div>
                        <div style="margin-bottom: 15px; font-weight: 700;">
                            Name & title
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="line-height: 1.6; margin-top: 70px;">
                            <b>For and on behalf of Absa Bank (Mauritius) Limited</b>
                        </p>
                    </td>
                </tr>
            </table>


        </tbody>
    </table>


    <!-- <div style="position: fixed; bottom: 15px; width: 100%; left: 10px; font-size: 10px; height: 29.7cm; margin: 0 auto;">
        <div style="white-space: normal;">
            Absa Bank (Mauritius) Limited (registered number C10068913). Absa Bank (Mauritius) Limited is regulated by
            the Bank of Mauritius and the Financial Services Commission.
            <br />
            MUR – SLD – Digital (Retail) – Digi Loan (Unsecured) – V.10.23
        </div>
    </div> -->
</body>

</html>