<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAU</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    
   <table style="width: 100%;">
    <th>
        <div style="color: #1F497D; font-size: 10pt; margin-bottom: 20pt;">
            TERMS, CONDITIONS & EXCLUSIONS
        </div>
    </th>
    <tr>
        <td>
            <table style="width: 100%; padding: 0 35pt;">
                <tbody>
                    <tr>
                        <td style="width: 33.33%; vertical-align: top;">
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt;">1.0 DEFINITIONS</h2>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                The words or expressions detailed below shall, unless the context otherwise requires, have the following meaning wherever they appear in this document.
                            </p>
                            <ul style="list-style: none; padding-left: 15pt;">
                                <li style=" margin-bottom: 10pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    <span style="font-weight: 700;">a)ABSA Bank (Mauritius) Ltd: </span>The Accredited Agent of MUA Life Ltd, licensed by the Financial Services Commission to act as an Insurance Agent.
                                </li>
                                <li style=" margin-bottom: 10pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    <span style="font-weight: 700;">b) Company/Insurer: </span>MUA Life Ltd also
                                    referred to as “We”/”Us”/.”Our”.
                                </li>
                                <li style=" margin-bottom: 10pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    <span style="font-weight: 700;">c) Credit Agreement: </span>the credit agreement that You have with ABSA Bank (Mauritius) Ltd in respect of the credit facility You have contracted.
                                </li>
                                <li style=" margin-bottom: 10pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    <span style="font-weight: 700;">d) You/Your: </span>the person entering into
                                    this contract with Us.
                                </li>
                            </ul>
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt; margin-top: 20pt;">2.1 Membership Formalities</h2>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                Any person who applies for this Scheme and hereafter named as proposed life to be assured, must give his/her consent thereto and satisfy the requirements as to his/her state of health by filling in, dating and signing an appropriate membership application form which will be remitted to him/her by ABSA Bank (Mauritius) Ltd. In every case, the admission is subject to the approval of the Insurer who reserves the right to have the person undergo a medical examination in relation to the declaration made by him/her in respect of his/her state of health or his/her age or the amount assured (including any amount already assured).
                            </p>
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt; margin-top: 10pt;">2.2 Extra Risks</h2>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                In case the Insurer decides, in the light of the declaration of health or the result of the medical examination to apply a special rate, the insurance cover will become effective only after the written consent of the proposed life to be assured has been received or the appropriate premium has been paid. Counter offer letters will be sent by the Insurer to ABSA Bank (Mauritius) Ltd who will request for written consent of the proposed life to be assured.
                            </p>
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt; margin-top: 10pt;">2.3 Effective Date</h2>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 5pt;">
                                In case the proposed life to be assured has signed the membership application form and the health declaration does not reveal any adverse features, the insurance cover takes effect as from the date the credit facility is disbursed and the membership application form is signed and attested by the seal of ABSA Bank (Mauritius) Ltd.
                            </p>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                In any other cases, if the proposed life to be assured has been unable to provide the membership application form and health declaration applicable in his case, or if the sum to be guaranteed exceeds non-medical limit and a medical examination has been required (with or without any supplementary examination or medical tests), the insurance cover will take effect as from the date the credit facility is disbursed subject to the Insurer notifying his acceptance.
                            </p>
                            <ul style="list-style: none; padding-left: 20pt;">
                                <li style=" margin-bottom: 5pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    a) war, invasion, act of foreign enemy, hostilities or warlike operations (whether war be declared or not), civil war, military rising, insurrection, rebellion, revolution, military or usurped power, martial law, mutiny or riot or civil commotion assuming the proportions of or amounting to a popular rising,
                                </li>
                                <li style=" margin-bottom: 5pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    b) acts of terrorism or action taken in controlling, preventing, suppressing or in any way relating to any act of terrorism, regardless of any other cause or event contributing concurrently or in any other sequence of the loss. An act of terrorism means an act – whether involving violence or the use of force or not – or the threat or the preparation thereof, of any person or group(s) of persons – whether acting alone or on behalf of or in connection with any organisation(s) or government (s) – which appears to be intended to intimidate or influence a de jure or de facto government or the public or a section of the public, or disrupt any segment of the economy and from its nature or context is done in connection with political, social, religious, ideological or similar causes or objectives.
                                </li>
                                <li style=" margin-bottom: 5pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    c) nuclear reaction, nuclear radiation.
                                </li>
                            </ul>
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt; margin-top: 10pt;">2.3 Effective Date</h2>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 5pt;">
                                In case the proposed life to be assured has signed the membership application form and the health declaration does not reveal any adverse features, the insurance cover takes effect as from the date the credit facility is disbursed and the membership application form is signed and attested by the seal of ABSA Bank (Mauritius) Ltd.
                            </p>
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt; margin-top: 10pt;">8.0. CLAIMS</h2>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 5pt;">
                                The amount payable upon the death or total and permanent disability of the Life Assured is the actual amount of capital outstanding at the time of the event as certified by ABSA Bank (Mauritius) Ltd.
                            </p>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 5pt;">
                                The Insurer will not be liable for any arrears or late payments by the Assured to ABSA Bank (Mauritius) Ltd, which will have for effect to increase the amount of outstanding capital at date of death or total and permanent disability.
                            </p>
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt; margin-top: 10pt;">8.1. Claims formalities</h2>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 5pt;">
                                Claims arising on death or total and permanent disability should be notified by ABSA Bank (Mauritius) Ltd as soon as possible and be supported by the relevant birth certificate (and marriage certificate in the case of the married female Life Assured) and the following documents:
                            </p>
                            <ul style="list-style: none; padding-left: 15pt;">
                                <li style=" margin-bottom: 10pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    a) In case of death, the relevant death certificate and a medical certificate indicating the exact cause of death.
                                </li>
                                <li style=" margin-bottom: 10pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    b) In case of disability, a medical certificate indicating the state of disability.
                                </li>
                                <li style=" margin-bottom: 10pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    c) In case of disappearance of the Life Assured in circumstances provided for by article 133 & following Code Napoléon, the Insurer will pay the guaranteed capital, on presentation of a duly certified copy of the declarative decision of death pronounced by a Judge in Chambers and transcribed in compliance with the provisions of the Civil Status Act.
                                </li>
                            </ul>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 5pt;">
                                Any action arising out of this policy is time-barred five years after the date of the occurrence giving rise to it in accordance with the provisions of Articles 1983-37 and 1983-38 of the Code Civil.
                            </p>
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt; margin-top: 10pt;">9.0 COOLING OFF PERIOD</h2>
                        </td>
                        <td style="width: 33.33%; vertical-align: top; padding: 0 30pt;">
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                Any accepted proposed life to be assured is named thereafter the “Assured/ Life Assured”.
                            </p>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                Except in the case of non-disclosure, omission or false or inexact statement done in bad faith by the Assured, the latter cannot be excluded from the insurance against his will so long as he forms part of the insurable group and on condition that the premium has been paid.
                            </p>
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt;">2.4 Your privacy</h2>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                Your personal data shall be processed in accordance with the applicable laws pertaining to Data Protection. We collect personal information to assist Us in processing applications for insurance, changes to or reinstatement of this policy and in assessing claims. By signing the insurance application form or any other questionnaires that may be used, you agree that this information may be disclosed in strictest confidence to our staff, consultants or reinsurance companies, your doctor or other qualified medical personnel.
                            </p>
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt;">3.0 FEES</h2>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                The premium includes a maintenance fee of 0.15% and FSC fees of 0.35% respectively. A commission of 20% is also payable to ABSA.
                            </p>
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt;">4.0 TERMINATION OF MEMBERSHIP</h2>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                The insurance cover ceases, at latest, in respect of the Life Assured at zero hour on: The 70th anniversary of birth as regards death cover and the 65th anniversary of birth as regards total and permanent disability cover;
                            </p>
                            <ul style="padding-left: 20pt;">
                                <li style=" margin-bottom: 5pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">cessation of premium payment;</li>
                                <li style=" margin-bottom: 5pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">or, at the earliest, on the date on which he/she has fully repaid his/her approved credit facility.</li>
                            </ul>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                Unless specified otherwise in the policy, no benefits will become payable on the termination of cover of a Life Assured consequent to an event specified above.
                            </p>
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt;">5.0 SUM ASSURED</h2>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                If the Life Assured dies or becomes totally and permanently disabled after the date the cover on his life commenced, the Insurer shall pay to ABSA Bank (Mauritius) Ltd the sum assured in respect of the Life Assured.
                            </p>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                In case of total and permanent disability, the claim amount due by the Insurer in respect of the claim will be calculated on the basis of the outstanding balance calculated on the day when the Insurer can medically certify in Mauritius the condition of the Life Assured.
                            </p>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                The sum assured in respect of a Life Assured is equal to the outstanding capital amount of the credit facility at the time of the claim as per the Individual Schedule.
                            </p>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                If death or total and permanent disability occurs during the cover period, the sum assured payable should not exceed the outstanding capital amount of the credit facility as per the Individual Schedule.
                            </p>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                Within a period of 30 days from the day you receive this policy, you have the right to change your mind by returning the policy and informing in writing ABSA Bank (Mauritius) Ltd that you DO NOT intend to proceed with the insurance cover and you shall be entitled to a refund of the premiums paid, net of the cost of any medical examinations paid on your behalf.
                            </p>
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt;">10.0 HOW TO CONTACT US?</h2>
                            <div style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                Address: 2 nd Floor, Barkly Wharf, Caudan <br />
                                Tel: 207 2500 <br />
                                Email: info@mua.mu <br />
                                www.mua.mu
                            </div>
                        </td>
                        <td style="width: 33.33%; vertical-align: top;">
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt;">6.0 RISKS COVERED – RISKS EXCLUDED</h2>
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt;">6.1 Death Risks</h2>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                All death risks, whatever be the cause, are covered subject to the following exclusions:
                            </p>
                            <ul style="list-style: none; padding-left: 15pt;">
                                <li style=" margin-bottom: 10pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    a) Suicide: Voluntary and conscious suicide is only covered after one year.
                                </li>
                                <li style=" margin-bottom: 10pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    b) Aerial acrobatics, records or attempts at records, preparatory attempt of reception attempt as well as practice of delta-plane or parachute and more generally all aeronautic sports are not covered by the guarantee.
                                </li>
                            </ul>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                It is specified however that the use, as a common passenger or as a crew member, of any public air transport and operated by a person or company approved to run such aircraft carriers is covered.
                            </p>
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt;">6.3 Total And Permanent Disability</h2>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                Total and Permanent Disablement shall be deemed to have arisen, if the Life Assured:
                            </p>
                            <ul style="list-style: none; padding-left: 15pt;">
                                <li style=" margin-bottom: 10pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    a) shall suffer the loss by physical severance of two limbs OR the sight of both eyes OR the loss by physical severance of one limb and the sight of one eye. (Limb shall mean leg, arm, entire hand or entire foot);
                                </li>
                                <li style=" margin-bottom: 10pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    b) has been absent through accident or disease from his/her employment for six consecutive months, and it is proved to the satisfaction of the Insurer that he/she has become so permanently incapacitated as to render it impossible for him/her ever to resume his/her employment or follow any other trade, profession or occupation.
                                </li>
                            </ul>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                The Insurer will pay the disability benefits covered as a lump sum and the liability of the Insurer under this policy shall be fully discharged without further action.
                            </p>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                The disability benefits as provided above, shall only apply to this policy while it is continued in force in its original form and if the policy is altered in any way, these disability benefits shall be automatically cancelled, but may be reinstated in the same or another form according to the terms of the policy as altered.
                            </p>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                The disability benefits, shall likewise not apply in the event of the disability being, directly or indirectly caused by or traceable to:-
                            </p>
                            <ul style="list-style: none; padding-left: 15pt;">
                                <li style=" margin-bottom: 5pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    a) Self-Inflicted Injury;
                                </li>
                                <li style=" margin-bottom: 5pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    b) Indulgence in alcohol;
                                </li>
                                <li style=" margin-bottom: 5pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    c) The use of drugs (other than as prescribed by a medical practitioner);
                                </li>
                                <li style=" margin-bottom: 5pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    d) Failure to follow medical advice
                                </li>
                                <li style=" margin-bottom: 5pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    e) Aerial sports and hazardous Pursuits
                                </li>
                                <li style=" margin-bottom: 5pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    f) Aviation Except as a Fare Paying Passenger on a Recognised Air Route
                                </li>
                                <li style=" margin-bottom: 5pt; font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px;">
                                    g) Participation in Criminal Acts
                                </li>
                            </ul>
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt;">7.0 DEATH AND TOTAL PERMANENT DISABILITY</h2>
                            <h2 style="color: #1F497D; font-size: 7.2pt; margin-bottom: 10pt;">7.1 Exclusions</h2>
                            <p style="font-size: 6pt; letter-spacing: 0.1pt; line-height: 12px; margin-bottom: 10pt;">
                                Not with standing any other provision in this Contract the Reinsurer shall not be liable for Relevant losses directly or indirectly caused by, resulting from, or in connection with the following
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
   </table> 
</body>
</html>

