<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head> <%- include('../partials/head') %> </head>

<body style="margin: 0px; padding: 0px;" bgcolor="#efefef">
  <table color: #ffffff;" width="650" cellspacing="0" cellpadding="0" style="background-image: url(''); width: 650px;" border="0" align="center" bgcolor="#BE0027">
    <tbody>
      <tr>
        <td style="padding: 15px 15px 15px;">
          <table style="width: 100%; background-color: #ffffff;" cellspacing="0" cellpadding="0" border="0" align="center">
            <thead>
              <tr>
                <th> <img src="" style="width: 650px;"> </th>
              </tr>
            </thead>
            <tbody style="background-color: #ffffff; color: #000000;">
              <tr>
                <td style="font-size: 0px; line-height: 0px; height: 15px;" height="15">&nbsp;</td>
              </tr>
              <tr>
                <td valign="top" align="left" style="font-family: 'Open Sans', Calibri, Arial, sans-serif; font-size: 22px; color: #000000; font-weight: bold;text-transform:capitalize; padding:0 15px; text-align: left; display: block;"> Dear name, </td>
              </tr>
              <tr>
                <td style="font-size: 0px; line-height: 0px; height: 15px;" height="15"> &nbsp;</td>
              </tr>
              <tr>
                <td style="font-family: 'Open Sans', Calibri, Arial, sans-serif; font-size: 14px; line-height: 20px; font-weight: normal; color: #000000; padding:0 15px;" valign="top" align="left"> Thank you for choosing Absa Bank (Mauritius) Limited as your preferred partner. </td>
              </tr>
              <tr>
                <td style="font-family: 'Open Sans', Calibri, Arial, sans-serif; font-size: 14px; line-height: 20px; font-weight: normal; color: #000000; padding:0 15px;" valign="top" align="left"> E-Signature for salary pledge letter has failed due to some reasons. We have got your back. You will be send another email which will have document link to download and manually sign. Once signed, you have to upload on the addendum page. Resume links will be provided soon. You are just a few clicks or downloads away from availing your personal loan with Absa. </td>
              </tr>
              <tr>
                <td style="font-size: 0px; line-height: 0px; height: 15px;" height="15"> &nbsp; </td>
              </tr>
              <tr>
                <td style="font-family: 'Open Sans', Calibri, Arial, sans-serif; font-size: 14px; line-height: 20px; font-weight: normal; color: #000000; padding:0 15px;" valign="top" align="left"> Should you have any queries in relation to your account application, please email us on <a href="mailto:customer.contact@absa.africa">customer.contact@absa.africa</a> or call us on 402 1000. </td>
              </tr>
              <tr>
                <td style="font-size: 0px; line-height: 0px; height: 15px;" height="15"> &nbsp;</td>
              </tr>
              <tr>
                <td style="font-family: 'Open Sans', Calibri, Arial, sans-serif; font-size: 14px; line-height: 20px; font-weight: normal; color: #000000; padding:0 15px;" valign="top" align="left"> Please do not reply to this email as this is an automated mail service. <br /> </td>
              </tr>
              <tr>
                <td style="font-size: 0px; line-height: 0px; height: 15px;" height="15"> &nbsp;</td>
              </tr>
              <tr>
                <td style="font-family: 'Open Sans', Calibri, Arial, sans-serif; font-size: 14px; line-height: 20px; font-weight: normal; color: #000000; padding:0 15px;" valign="top" align="left">Kind Regards, <br /> Absa Bank (Mauritius) Limited </td>
              </tr>
              <tr>
                <td style="font-size: 0px; line-height: 0px; height: 15px;" height="15"> &nbsp;</td>
              </tr>
              <tr>
                <td style="padding: 0 15px;"> <img src="" style="width: 100%; height: 3px;"> </td>
              </tr>
              <tr>
                <td style="font-family: 'Open Sans', Calibri, Arial, sans-serif; font-size: 12px; line-height: 20px; font-weight: normal; color: #000000; padding:0 15px;padding-top: 5px;" valign="top" align="left"> <strong> Experience banking at your fingertips </strong> </td>
              </tr>
              <tr>
                <td style="font-family: 'Open Sans', Calibri, Arial, sans-serif; font-size: 12px; padding-bottom: 5px; line-height: 20px; font-weight: normal; color: #000000; padding:0 15px;padding-bottom: 5px;" valign="top" align="left">Website : <a style="color: #000000;padding-right: 5px;" href="https://www.absabank.mu ">https://www.absabank.mu </a> <span> | </span> Email : <a style="color: #000000;" href="mailto:customer.contact@absa.africa">customer.contact@absa.africa </a> </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
    <tfoot> <%- include('../partials/footer') %> </tfoot>
  </table>
</body>

</html>